<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite thread-count="1" parallel="tests" name="GoSELL Automation Testing" verbose="1">
    <listeners>
<!--        <listener class-name="com.gosell.listener.TestListener"></listener>-->
<!--        <listener class-name="com.kirwa.nxgreport.listners.NXGTestListner"></listener>-->
    </listeners>

    <test name="Login Test" preserve-order="true">
        <classes>
            <class name="com.gosell.test.simplelogin.LoginTest" />
<!--            <class name="com.gosell.test.simplelogin.LogoutTest" />-->
        </classes>
    </test>

<!--    <test name="Home page Test" preserve-order="true">-->
<!--        <classes>-->
<!--            <class name="com.gosell.test.home.HomeTest" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="Product page Test" preserve-order="true">-->
<!--        <classes>-->
<!--            <class name="com.gosell.test.product.ProductTest" />-->
<!--        </classes>-->
<!--    </test>-->

</suite>

