<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite thread-count="2" parallel="tests" name="GoSELL Automation Testing" verbose="1">
    <listeners>
        <listener class-name="com.gosell.listener.TestListener"></listener>
        <listener class-name="com.kirwa.nxgreport.listners.NXGTestListner"></listener>
    </listeners>

    <parameter name="browser" value="CHROME"/>
    <parameter name="url" value="http://admin.unisell.vn/"/>
    <parameter name="isEnglishLanguage" value="true" />

    <test name="Login Test" preserve-order="true">
        <classes>
            <class name="com.gosell.test.simplelogin.LoginTest" />
        </classes>
    </test>

<!--    <test name="Home page Test" preserve-order="true">-->
<!--        <classes>-->
<!--            <class name="com.gosell.test.home.HomeTest" />-->
<!--        </classes>-->
<!--    </test>-->

</suite>

